
.popup__error-message {
 color: #FF0000;
 font-weight: 400;
 font-style: normal;
 font-size: 12px;
 line-height: 15px;
 padding: 10px 0 0 0;
 /* padding: 0; */
 margin: 0;
 position: absolute;
 bottom: 0;
 left: 0;
}

.input__wrap {
  position: relative;
  padding-bottom: 25px;
}