.profile__edit-button {
  cursor: pointer;
  border: none;
  padding: 10px 0 0;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  background: #fff0;
  margin: 0 0 0 18px;
}

@media screen and (max-width: 925px) {
  .profile__edit-button {
    padding-right: 15px;
  }
}

@media screen and (max-width: 620px) {
  .profile__edit-button {
    padding-right: 0;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    padding-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .profile__edit-button {
    padding-top: 5px;
  }
}


@media screen and (max-width: 320px) {
  .profile__edit-button {
    margin: 0 0 0 10px;
  }
}