
.profile__edit-icon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
} 

@media screen and (max-width: 650px) {
  .profile__edit-icon {
    margin-right: 5px;
  }
}

@media screen and (max-width: 500px) {
  .profile__edit-icon {
    width: 18px;
    height: 18px;
    margin-right: 0;
  }
}