
  .elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    padding: 0;
    margin: 51px 0 0;
    gap: 17px;
    row-gap: 3px;
    max-width: 1280px;
    box-sizing: border-box;
  }