
.profile__content {
  display: inline-block;
  min-width: 336px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 599px) {
  .profile__content {
    justify-content: center;
    vertical-align: baseline;
    flex-direction: row;
    margin: 22.2px 0 0;
    min-width: 50vw;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .profile__content {
   text-align: center;
  }
}