
.profile__post {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .profile__post {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}