.popup__close-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}


@media screen and (max-width: 400px) {
  .popup__close-button {
    margin-bottom: 8px;
  }
}

