@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/big-page/big-page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo-link/header__logo-link.css);

@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__edit-icon/profile__edit-icon.css);
@import url(../blocks/profile/__post/profile__post.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__add-icon/profile__add-icon.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__button/_active/element__button_active.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__content/element__content.css);
@import url(../blocks/element/__title/element__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__wrap/popup__wrap.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);


.button__element-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.element__delete-icon {
  background-color: rgba(0, 0, 0, 0);
}

.element__delete-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.element__button_like {
  background-color: rgba(0, 0, 0, 0);
}

.popup__pic {
  /* display: flex; */
  display: none;

}                                   
  
.popup__pic_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

.popup-pic__wrap {
  position: absolute; 
  height: 75vh;
  width: 75vw;
/* 
  flex: 0 1 75vw; */
  text-align: center;
}

.popup-pic__content > img {
  max-height: 75vh;
  max-width: 75vw;
}

.popup-pic__content {
  position: relative;
  display: inline-block;
}

.popup__close-button3 {
    position: absolute; 
    right: -40px;
    top: -40px;
}
