
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/* @import url(../blocks/page/page.css);
@import url(../blocks/big-page/big-page.css); */

.big-page {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Inter', helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000000;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 200px;
  line-height: 29px;
  box-sizing: border-box;
}

@media screen and (max-width: 1070px) {
  .page {
    padding: 0 150px;
  }
}

@media screen and (max-width: 900px) {
  .page {
    padding: 0 70px;
  }
}

@media screen and (max-width: 750px) {
  .page {
    padding: 0 20px;
  }
}

@media screen and (max-width: 650px) {
  .page {
    padding: 0 8px;
  }
}

@media screen and (max-width: 400px) {
  .page {
    padding: 0;
  }
}

.header {
  max-width: 1280px;
  padding: 45px 0 0;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 400px) {
  .header {
    padding: 28px 0 0;
  }
}

/* @media screen and (max-width: 1000px) {
  .header {
    /* padding: 28px 24px 0 24px; */
  /* }
} */
/* 
@media screen and (max-width: 400px) {
  .header { */
    /* padding: 16px 16px 0; */
  /* }
} */ 

.header__logo {
  padding: 0 0 23.5px 27px;
}

@media screen and (max-width: 400px) {
  .header__logo {
    width: 32.5vw;
  }
}

@media screen and (max-width: 1070px) {
  .content {
width: 100%;
box-sizing: border-box;
  }
  }
  
@media screen and (max-width: 500px) {
.content {
  margin: 0;
  padding: 0;
}
}


.element__title {
  font-family: 'Inter', helvetica, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
}

.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  .elements {
    padding: 0 40px;
  }
  }

  @media screen and (max-width: 720px) {
    .elements {
      padding: 0 10px;
    }
    }

@media screen and (max-width: 500px) {
  .elements {
    margin-top: 36px;
    flex-direction: column;
  }
  }



.element {
  width: 282px;
  min-height: 79px;
  max-height: 362px;
  background-color: #eee;
  /* font-size: 0; */
  overflow: hidden;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  margin: 0 0 20px;
  padding: 0;
}

.element__photo {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.element__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 20px 31px 21px;
  padding: 0;
}


.element__button {
  display: block;
  background-image: url(../images/stroke.svg);
  width: 22px;
  height: 19px;
  transition: opacity 0.2s ease;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.element__button:hover {
  opacity: 0.5;
}

.element__button:active {
  background-image: url(../images/stroke-active.svg); 
  opacity: 1;
}


.footer__copyright {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 47px 0 60px;
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    margin: 28px 0 36px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    padding: 0 50px;
  }
  }



@media screen and (max-width: 400px) {
.footer {
  padding: 0;
  margin: 0 19px;
  box-sizing: border-box;
}
}


.popup__name-field {
  width: 358px;
  padding: 0;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  font-style: normal;
  color: #000;
}

@media screen and (max-width: 400px) {
  .popup__name-field {
  max-width: 238px; 
  padding: 0 0 11px 0;
}
}
  

.popup__job-field {
  width: 358px;
  margin-top: 30px;
  padding: 0 0 9px 0;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, .2);
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: #000;
}

@media screen and (max-width: 400px) {
  .popup__job-field {
  max-width: 238px; 
  padding: 0 0 11px 0;
}
}

.popup {
  /* margin-bottom: 150px; */
  position: fixed;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.popup__container {
  width: 430px;
  height: 330px;
  background: #FFFFFF;
  border-radius: 10px;
  position: relative;
  text-align: left;
  margin-right: 40px;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  outline: 1px solid rgba(0, 0, 0, 0.2);
  /* top: 195px; */
  z-index: 1;
}

@media screen and (max-width: 400px) {
.popup__container {
  width: 282px;
  height: 322px;
  margin: 0;
  
}
}


.button_edit {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  background: #fff0;
  margin: 0 0 0 18px;
}

.button_edit:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 400px) {
  .button_edit {
  margin-left: 5px;
}
}

@media screen and (max-width: 400px) {
  .button_sm {
    width: 18px;
    height: 18px;
  }
  }

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 336px;
  color: #FFF;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .profile__info {
  padding-left: 46px;
  min-width: 50vw;
  }
  }


.profile__content {
  display: inline-block;
  min-width: 336px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
.profile__content {
  justify-content: center;
  vertical-align: baseline;
  flex-direction: row;
  margin-top: 22.2px;
  min-width: 50vw;
}
}

.profile__add-button {
  max-width: 150px;
  border: 2px solid #ffffff;
  background: #000000;
  border-radius: 2px;
  align-self: center;
  margin-left: auto;
  box-sizing: content-box;
  padding: 0;
  max-height: 50px;
  border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  @media screen and (max-width: 620px) {
    .profile__add-button {
      margin: 20px 0 0;
      align-self: flex-start;
    }
  }

  @media screen and (max-width: 500px) {
    .profile__add-button {
      margin: 20px 0 0 46px;
   
    }
  }

  @media screen and (max-width: 400px) {
    .profile__add-button {
      margin: 38px 0 0;
      min-width: 282px;
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }
  
.profile__add-icon {
  max-width: 22px;
  padding: 14px 64px;

}

.profile {
  margin: 36.2px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 620px) {
  .profile {
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
  }
}
/* 
@media screen and (max-width: 500px) {
  .profile {
    margin-top: 38.2px;
    flex-direction: column;
    justify-content: center;
  }
} */

.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}


@media screen and (max-width: 950px) {
  .profile__avatar {
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .profile__avatar {
  margin: 0 auto;
  flex-direction: column;
  }
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
  display: inline-block;
  margin: 0 0 9px 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__post {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
.profile__post {
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  padding-left: 30px;
}
}



.header__logo_link {
  margin: 0;
  padding: 0;
}

#ID_popup {
    /* position: absolute; */
    /* top: -50px; */
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000a3;
    display: none;  /* flex: ; */
    overflow: auto;
    justify-content: center;
    align-items: center;
}


.popup__wrap {
  text-align: right;
}

#ID_popup.popup_activ {
  display: flex;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 0;
  margin: 0 0 54px;
  box-sizing: content-box;
}

@media screen and (max-width: 400px) {
.popup__title {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 75px;
  }
  }

.popup__content {
 padding: 34px 0 0 36px;
 margin: 0;
 box-sizing: border-box;
 line-height: 17px;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
}

@media screen and (max-width: 400px) {
  .popup__content {
    padding: 16px 0 0 22px;
  }
  }


.popup__submit-button {
  margin: 42px 0 0;
  border: none;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
}

.popup__button-text {
color:#fff;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
}

.popup__close-icon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 400px) {
  .popup__close-icon {
      width: 20px;
      height: 20px;
  }
}

.popup__close-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.popup__save {
  margin: 42px 0 0;
  border: none;
  min-width: 358px;
  height: 50px;
  border-radius: 2px;
  padding: 0;
  background-color: #000;
}

@media screen and (max-width: 400px) {
  .popup__save {
    margin: 45px 0 0;
    min-width: 238px;
    height: 46px;

  }
}


.popup__close-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  cursor: pointer;
}

.popup__save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  cursor: pointer;
}
