
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/big-page/big-page.css);

.big-page {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Inter', helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000000;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 200px;
  line-height: 29px;
  box-sizing: border-box;
}

.header {
  max-width: 1280px;
  padding: 45px 0 0;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

/* @media screen and (max-width: 1000px) {
  .header {
    /* padding: 28px 24px 0 24px; */
  /* }
} */
/* 
@media screen and (max-width: 400px) {
  .header { */
    /* padding: 16px 16px 0; */
  /* }
} */ 

.header__logo {
  padding-bottom: 41px;
}

.profile {
  display: flex;
}

.element__title {
  font-family: 'Inter', helvetica, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
}

.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 46.25px 0 0;
  padding: 0;
}

.element {
  width: 282px;
  min-height: 79px;
  max-height: 362px;
  background-color: #eee;
  /* font-size: 0; */
  overflow: hidden;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  margin: 0 0 20px;
  padding: 0;
}

.element__photo {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.element__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 20px 31px 21px;
  padding: 0;
}


.element__button {
  display: block;
  background-image: url(../images/stroke.svg);
  width: 22px;
  height: 19px;
  transition: opacity 0.2s ease;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.element__button:hover {
  opacity: 0.5;
}

.element__button:active {
  background-image: url(../images/stroke-active.svg); 
  opacity: 1;
}


.footer__copyright {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 47px 0 60px;
}

.popup__name-field {
  width: 358px;
  padding: 0;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  font-style: normal;
  color: #000;
}

.popup__job-field {
  width: 358px;
  margin-top: 30px;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: #000;
}

.popup {
  margin-bottom: 100px;
}