
.element {
  width: 282px;
  min-height: 79px;
  max-height: 362px;
  background-color: #eee;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  margin: 0 0 20px;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 1259px) {
.element {
  width: 255px;
}
}

@media screen and (max-width: 1174px) {
  .element {
    width: 282px;
  }
  }
  
@media screen and (max-width: 610px) {
  .element {
    width: 255px;
  }
  }

  @media screen and (max-width: 599px) {
    .element {
      width: 282px;
    }
    }
  

